.md-nav {
    height: 100px !important;
}

.md-nav .container {
    padding-top: 45px !important;
}

#sideNavOpener {
    top: 45px !important;
}

.navbar-search-opener {
    top: 54px !important;
}

.body-wrapper {
    padding-top: 115px !important;
}
